<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>虎扑NBA新闻爬虫</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse" style="background: #c01e2f">
        <div class="container">
            <a class="navbar-brand" href="#">虎扑NBA新闻爬虫</a>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid" style="background: #c01e2f; color: white; padding: 0.5rem">
        <div class="container">
            <h1 class="display-3">
                <div style="display: flex; justify-content: space-between">
                    <img src="./../static/hupu.png" style="height: 110px;"/>
                    <div>
                        <form role="form" method='POST' action='/'>
                            <button type="submit" class="btn btn-secondary btn-lg" style="color: white; background: transparent">运行</button>
                            <button type="button" class="btn btn-secondary btn-lg" style="color: white; background: transparent">
                                <a href="/download" target="_blank" style="color: white">下载json文件</a>
                            </button>
                        </form>

                    </div>
                </div>
            </h1>

        </div>
    </div>

    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title (most recent 20)</th>
                    <th>From</th>
                </tr>
            </thead>
            <tbody>
            {% for item in news %}
                <tr>
                    <td><a href="{{ item.link }}" target="_blank">{{ item.text }}</a></td>
                    <td>{{ item.from }}</td>
                </tr>
            {% endfor %}
             </tbody>
        </table>

        <hr style="margin-top: 25px">
        <footer>
            <div style="display: flex; justify-content: space-between">
                <p>© Yaoming Zhan 2017</p>
                <a href="https://github.com/zhanym0981/hupu-scraper" target="_blank">GitHub</a>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>